.DS_Store
.AppleDouble
.LSOverride
.keep

/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/.idea
config/database.yml
/config/database.yml
.gitignore
#ignore folder rubymine
.idea
#ignore config database
/db/database.yml

