- provide(:title, @category.title)
h1 Category
b= @category.title
p= @category.recipes.count

- @category.each do |category|
  = link_to category.title, category_recipes_path(category_id:category.id)
  - end



= link_to 'All categories', categories_path

